/* NOTE! ONLY CSS THAT IS SHARED ACROSS ALL PAGES SHOULD BE LOCATED HERE. */

* {
    color: white;
    font-family: "Georgia", Serif;
    font-size: 20px;
    box-sizing: border-box;
}

body {
    background-color: rgb(209, 209, 209);
}

#header-container, #footer-container {
    min-height: 100px;
    background-color: black;
    padding-left: 10px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
	grid-column-end: 5;
	gap: 10px;
}

#header-container {
	grid-column-start: 1;
	grid-column-end: 5;
}

#header-logo {
    grid-column-start: 1;
    grid-row-start: 1;
	grid-column-end: 2;
    grid-row-end: 2;
}

#navrow {
    margin: 0 auto;
    grid-column-start: 2;
	grid-column-end: 4;
    align-self: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #ffffff96;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#footer-container {
    min-height: 110px;
}

.footer1 {
    grid-column-start: 1;
	grid-column-end: 5;
    text-align: center;
    padding-top: 30px;
}

.footer1 p, .footer1 u {
    font-size: 16px;
}

.footer2 {
    grid-column-start: 2;
	grid-column-end: 4;
    margin: 0 auto;
}