/* NOTE! ONLY CSS FOR "HOME / "INDEX.HTML" SHOULD BE LOCATED HERE. */

#main-container {
    width: 85%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,
    rgba(255,255,255,1) 65%,
    rgba(0,212,255,0) 100%);
    min-height: 500px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    gap: 10px;
}

.welcome-image1 {
    grid-column-start: 1;
	grid-column-end: 4;
    background-image: url(../img/welcome_image1.jpg);
    background-color: black;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    border-radius: 25px;
    border: 5px solid rgb(0, 0, 0);
}
  
.welctext1 {
    text-align: left;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.192);
    width: 100%;
    padding-left: 10px;
}
  

.welctext1 h1 {
    font-size: 3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.welctext1 p {
    font-size: 24px;
}

.showbox1, .showbox2, .showbox3 {
    border-radius: 25px;
    min-height: 210px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    border-radius: 25px;
    border: 5px solid rgb(0, 0, 0);
}

.showbox1 {
    grid-column-start: 1;
	grid-column-end: 2;
    background-image: url(../img/mixing1.jpg);
}

.showbox2 {
    grid-column-start: 2;
	grid-column-end: 3;
    background-image: url(../img/mastering1.jpg);
}

.showbox3 {
    grid-column-start: 3;
	grid-column-end: 4;
    background-image: url(../img/distribution1.jpg);
}

.zoom {
    transition: transform .2s;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.02);
    -webkit-box-shadow:0px 0px 8px 5px black;
    -moz-box-shadow: 0px 0px 8px 2px light rgb(0, 0, 0);
    box-shadow: 0px 0px 8px 2px light rgb(0, 0, 0);
    border-radius: 25px;
}

.showbox1 .mixtxt, .showbox2 .mastxt, .showbox3 .distxt {
    box-sizing: content-box;
    text-align: center;
    position: relative;
    top: 130px;
    left:0px;
    visibility: hidden;
    }

.showbox1:hover .mixtxt, .showbox2:hover .mastxt, .showbox3:hover .distxt {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.521);
}

#inspiration-container {
    grid-column-start: 1;
	grid-column-end: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.quote1 {
    background-color: transparent;
    width: 450px;
    padding: 25px;
}

.quote1 h2 {
    font-size: 26px;
}

.inspiration-container img {
    border-radius: 25px;
}

/* Adjusting appearance to smaller desktops and screen sizes */
@media screen and (max-width:  1024px) and (min-width: 769px) {

	#main-container {
		width: 100%;
	}

    #navrow {
        margin: 0 auto;
        grid-column-start: 2;
        grid-column-end: 5;
    }

    .welctext1 h1 {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 768px) {

    #header-container {
        border-top-left-radius: 35%;
        border-top-right-radius: 35%;
    }

    #header-logo {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-top: 10px;
        margin: 0 auto;
    }
    
    #navrow {
        margin: 0 auto;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        align-self: flex-end;
    }

	#main-container {
		width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%,
        rgb(0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 100%);
	}

    .welcome-image1 {
        min-height: 400px;
    }

    .welctext1 {
        top: 80%;
    }

    .welctext1 h1 {
        font-size: 4.5vw;
    }

    .welctext1 p {
        font-size: 20px;
    }

    .zoom {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .showbox1 .mixtxt, .showbox2 .mastxt, .showbox3 .distxt {
        top: 130px;
        left: 0px;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.521);
    }

    .zoom:hover {
        transform: none;
        -webkit-box-shadow: 0px;
        -moz-box-shadow: 0px;
        box-shadow: none;
    }
}